<html>
      <h1>SUPPORT FOR YOU</h1>

    <div class="chatroom">  
        <div class="chat">
            <div id="msgs"></div>
        </div>
            <form id="form" class="chatwindow">
                <input class="non-border textbox" type="text" id="input" value="" placeholder="Send a message..."></input>
            </form>
    </div>

   <script type="text/javascript">
        function();
   </script>
 </html>