<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="./css/main.css"> <!--Linking css in layout to prevent multiple linkings -->
    <script src="./js/main.js"></script> <!--Linking script in layout to prevent multiple linkings -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Babble - 3.0</title>
</head>
<body>
    <div class="navigation">
        a
    </div>
    <%=yield%>
</body>
</html>